.layout {
  .div_lista_pais {
    .ul_lista {
      width: 40%;
      .div_item {
        padding: 4px 8px;
        margin: 4px;
        background-color: rgb(164, 248, 220);
        display: flex;
        justify-content: space-around;

        .text_item {
          width: 140px;
        }

        .btn_true {
          background-color: aqua;
          outline: none;
          border: none;
          padding: 4px 8px;
          width: 90px;
          cursor: pointer;
        }
        .btn_false {
          background-color: rgb(249, 126, 126);
          outline: none;
          border: none;
          padding: 4px 8px;
          width: 90px;
          cursor: pointer;
        }
      }
    }
  }
}
